<div id="<%= dom_id operator %>">
  <p>
    <strong>Name:</strong>
    <%= operator.nome %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= operator.email %>
  </p>

  <p>
    <strong>Funcao:</strong>
    <%= operator.funcao %>
  </p>

  <p>
    <strong>Team:</strong>
    <%= operator.team&.nome %>
  </p>
</div>